---
---

@import "minimal-mistakes/skins/dark";
@import "{{ site.theme }}";

/* Custom CSS for my projects pages. */
.table-row {
    display: table-row;
}
.table-row > * {
    display: table-cell;
    padding: 0.75em;
    vertical-align: top;
}
.table-row > img {
    height: 4em;
    width: 4em;
    min-width: 4em;
}

/* Custom CSS for my bitcoin page. */
.bitcoin {
    text-align: center;
}
.bitcoin img {
    image-rendering: pixelated;
    max-width: 30rem;
    width: 100%;
}

ol ol {
    list-style-type: lower-alpha;
}
