<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/array-2ff2c7a6.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/channel-ebbc4130.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/clone-afc2f047.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/createText-03b82060.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/edges-16357fde.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/flowDb-9a89ea33.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/flowDiagram-v2-f2119625.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/graph-0ee63739.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/index-bb6d8841.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/layout-fd473db2.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/line-24d93f1b.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/mermaid.esm.min.mjs"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/mermaid-9f2aa176.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/path-428ebac9.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/sequenceDiagram-b517d154.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/styles-e75131e4.js"/>
<link rel="modulepreload" href="/js/vendor/mermaid@10.9.1/dist/svgDrawCommon-ecc5f780.js"/>
<script type="module">
import mermaid from '/js/vendor/mermaid@10.9.1/dist/mermaid.esm.min.mjs';

/* Adapted from https://github.com/mermaid-js/mermaid/issues/1945#issuecomment-1661264708, with additions for compatibility with the congo theme's toggle */
const ELEMENT_SELECTOR = '.mermaid'
const THEME_PREF_STORAGE_KEY = "appearance";

function saveOriginalData() {
    const elements = document.querySelectorAll(ELEMENT_SELECTOR);
    for (const element of elements) {
        element.setAttribute('data-original-code', element.innerHTML)
    }
}

function resetProcessed() {
    const elements = document.querySelectorAll(ELEMENT_SELECTOR);
    for (const element of elements) {
        if (element.getAttribute('data-original-code') !== null) {
            element.removeAttribute('data-processed');
            element.innerHTML = element.getAttribute('data-original-code');
        }
    }
}

function initialiseMermaid(theme) {
    mermaid.initialize({ startOnLoad: true, theme });
    mermaid.init({theme}, document.querySelectorAll('.mermaid'));
}

function getInitialTheme() {
    return document.documentElement.classList.contains("dark") ? 'dark' : 'light';
}

function initialize() {
    saveOriginalData();
    initialiseMermaid(getInitialTheme());

    const switchers = document.querySelectorAll("[id^='appearance-switcher']");
    switchers.forEach(e => e.addEventListener('click', () => {
        resetProcessed();
        const theme = mermaid.mermaidAPI.getConfig().theme === 'dark' ? 'light' : 'dark';
        initialiseMermaid(theme);
    }));
}

if (document.readyState === "loading") {
    document.addEventListener('DOMContentLoaded', initialize);
} else {
    initialize();
}
</script>
