/* Custom CSS for my projects pages. */
.table-row {
    display: table-row;
}
.table-row > * {
    display: table-cell;
    padding: 0.75em;
    vertical-align: top;
}
.table-row > img {
    height: 4em;
    width: 4em;
    min-width: 4em;
}

/* Custom CSS for my bitcoin page. */
.bitcoin {
    text-align: center;
}
.bitcoin img {
    image-rendering: pixelated;
    max-width: 30rem;
    width: 100%;
}

ol ol {
    list-style-type: lower-alpha;
}

/* Custom CSS for the about page. */
img.portrait {
    margin: 0 auto;
    display: block;
}
small.portrait {
    margin-top: 0.75em;
    display: block;
    text-align: center;
}

/* Custom CSS for D3 graph styling in BOSS vs. LOOT post. */
.bar {
    fill: steelblue;
}

.axis text {
    font: 0.6em sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.x.axis .tick line {
    opacity: 0;
}
.legend text {
    fill: white;
    font: 0.6em sans-serif;
    text-anchor:left;
}
.loot {
    opacity: 1;
}
.boss {
    opacity: 0.66;
}
.boss-previous {
    opacity: 0.33;
}

article > table {
    margin: 1rem;
}
article > table th, article > table td {
    padding: 10px;
}
article > table td:not(:first-child) {
    text-align: center;
}

/* Theme styling override */
pre {
    overflow: auto;
}
pre.mermaid {
    /* Assuming light theme */
    background-color: inherit;
}
